<div class="container">
    <h2>Bordered Table</h2>
    <p>The .table-bordered class adds borders to a table:</p>            
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Item Image</th>
          <th>Item Name</th>
          <th>Description</th>
          <th>Price</th>
          <th colspan="2">Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><img src="" alt="image"/></td>
            <td>Roshogulla</td>
            <td>Delicious</td>
            <td>345</td>
            <td><a href="/updatefood"> Update</a></td>
            <td><a href="/deletefood" >Delete</a></td>
        </tr>
        <tr>
          <td><img src="" alt="image"/></td>
          <td>Roshogulla</td>
          <td>Delicious</td>
          <td>345</td>
          <td><a href="/updatefood"> Update</a></td>
          <td><a href="/deletefood" >Delete</a></td>
        </tr>
        <tr>
            <td><img src="" alt="image"/></td>
            <td>Roshogulla</td>
            <td>Delicious</td>
            <td>345</td>
            <td><a href="/updatefood"> Update</a></td>
            <td><a href="/deletefood" >Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>