
.footer {
    height: 10vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.footer a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style:solid;
}