
<div class="continer">

<h2>{{userName}}</h2> 

<hr/>
<div *ngIf="user">
<table>
    <tr>
        <td>
            <div>
            <label><b>Name: </b></label> {{customer.name}}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
            <label><b>Email: </b></label> {{customer.email}}
            </div>
        </td>
    </tr>    <tr>
        <td>
            <div>
            <label><b>Phone: </b></label> {{customer.phone}}
            </div>
        </td>
    </tr>    <tr>
        <td>
            <div>
            <label><b>Address: </b></label>
            </div>
        </td>
        <tr>
            <td>
                <label><b>Street: </b></label> {{customer.address}}
            </td>
        </tr>
        <tr>
            <td>
                <label><b>City: </b></label> {{customer.city}}
            </td>
        </tr>
        <tr>
            <td>
                <label><b>Pincode: </b></label> {{customer.pin}}
            </td>
        </tr>
    </tr>

    <br>
    <br>
    <tr><td><button [routerLink]="['../update-user-profile']" class="btn btn-primary">Update Profile</button></td>
        <td><button [routerLink]="['../login']" class="btn btn-primary">Back To Home</button></td>
    </tr>
</table>
</div>

</div>