<header>
    <img [src] = "imagePath"/> <!--Property binding-->
    <div calss = "container">
        <nav>        
        <a  routerLink="/restuarant" class = "logo">Meal On Wheels</a>
        
            <ul>
              <!--Routing to diff compnts-->
                <li>
                  <a routerLink="/addfood" >Add Item</a>
                </li>
                <li>
                    <a routerLink="/cart">View Orders</a>
                </li>
                <li>
                    <a routerLink="/cart">View Products</a>
                </li>

                <li>
                    <div  class="dropdown">
                        <button class="dropbtn">{{restaurantName}}</button>
                        <div class="dropdown-content">
                          <a routerLink="/restaurantprofile" >View Profile</a>
                          <a routerLink="/updaterestaurantprofile" >Update Profile</a>
                          <a routerLink="/">Logout</a>
                        </div>
                      </div>
                </li>                
            </ul>
        </nav>
    </div>
</header>