<app-nav></app-nav>

<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>Meal On Wheels</h1>
				<h2>Restaurant Name</h2>
				
			</div>
				<br>
				<br>
	
</div>
</div>		
</section>

<!-- Menu -->

<section id="menu" class="parallax-section">
	<div class="container">
		<div class="row">   
			<div class="col-md-offset-2 col-md-12 col-sm-12 text-center">
				<h1 class="heading">Select Your Favourites</h1>
				<hr>
				<!--Put a loop while fetching the data -->
				<div  class="card-deck col-md-12 col-sm-12 text-center">
					
						<div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
					
						 	<div class="card">
						  		<img [src] = "imagePath[0]" class = "card-img-top"/>
						  		<div class="card-body">
									<h5 class="card-title">Item Name</h5>
									<p class="card-text">Item Description</p>
                                  </div>
                                  <div class="card-body" >
                                    <div style="float: left; " ><p style="display:inline; ">item.price}}</p></div>
                                    <div id="addremove" style="float:right">
                                      <button  style="display:inline; " class="button">-</button>
                                      <p style="display:inline-block;"> q </p>
                                      <button  >+</button>
                                    </div>
                                  </div>
							</div>
												
						</div>
						<div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
						
                            <div class="card">
                                <img [src] = "imagePath[0]" class = "card-img-top"/>
                                <div class="card-body">
                                  <h5 class="card-title">Item Name</h5>
                                  <p class="card-text">Item Description</p>
                                </div>
                                <div class="card-body" >
                                  <div style="float: left; " ><p style="display:inline; ">item.price}}</p></div>
                                  <div id="addremove" style="float:right">
                                    <button  style="display:inline; " class="button">-</button>
                                    <p style="display:inline-block;"> q </p>
                                    <button  >+</button>
                                  </div>
                                </div>
                          </div>
												
							</div>
							<div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s" >
								
                                <div class="card">
                                    <img [src] = "imagePath[0]" class = "card-img-top"/>
                                    <div class="card-body">
                                      <h5 class="card-title">Item Name</h5>
                                      <p class="card-text">Item Description</p>
                                    </div>
                                    <div class="card-body" >
                                      <div style="float: left; " ><p style="display:inline; ">item.price}}</p></div>
                                      <div id="addremove" style="float:right">
                                        <button  style="display:inline; " class="button">-</button>
                                        <p style="display:inline-block;"> q </p>
                                        <button  >+</button>
                                      </div>
                                    </div>
                              </div>
														
								</div>
								<div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
									
                                    <div class="card">
                                        <img [src] = "imagePath[0]" class = "card-img-top"/>
                                        <div class="card-body">
                                          <h5 class="card-title">Item Name</h5>
                                          <p class="card-text">Item Description</p>
                                        </div>
                                        <div class="card-body" >
                                          <div style="float: left; " ><p style="display:inline; ">item.price}}</p></div>
                                          <div id="addremove" style="float:right">
                                            <button  style="display:inline; " class="button">-</button>
                                            <p style="display:inline-block;"> q </p>
                                            <button  >+</button>
                                          </div>
                                        </div>
                                  </div>
															
									</div>
									<div class="col-md-4 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
										
                                        <div class="card">
                                            <img [src] = "imagePath[0]" class = "card-img-top"/>
                                            <div class="card-body">
                                              <h5 class="card-title">Item Name</h5>
                                              <p class="card-text">Item Description</p>
                                            </div>
                                            <div class="card-body" >
                                              <div style="float: left; " ><p style="display:inline; ">item.price}}</p></div>
                                              <div id="addremove" style="float:right">
                                                <button  style="display:inline; " class="button">-</button>
                                                <p style="display:inline-block;"> q </p>
                                                <button  >+</button>
                                              </div>
                                            </div>
                                      </div>
						
										</div>
					</div>
				</div>
		</div>
	</div>
</section>

<app-footer></app-footer>