<header>
    <img [src] = "imagePath"/> <!--Property binding-->
    <div calss = "container">
        <nav>        
        <a  routerLink="/" class = "logo">Meal On Wheels</a>
        
            <ul>
              <!--Routing to diff compnts-->
                <li>
                  <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/cart">Cart</a>
                </li>
                <li>
                    <div  class="dropdown">
                        <button class="dropbtn">Dropdown</button>
                        <div class="dropdown-content">
                          <a heref="#">View Profile</a>
                          <a href="#">Update Profile</a>
                          <a >Logout</a> <!--use [routerlink]="['../logout']" -->
                        </div>
                      </div>
                </li>                
            </ul>
        </nav>
    </div>
</header>