    /* nav Section */

    header {
    background: #000000;
    }
    
    .logo {
    font-weight: bold;
    font-size: 25px;
    padding : .8em;
    }
    
    nav {
    justify-self: right;
    line-height: 60px;
    margin-top: 10px;
    padding:10px;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    }
    
    li {
    display: inline;
    margin: 0 auto;
    }
    
    a {
    color:white;
    margin: 0 auto;
    padding: 1.5em;
    text-transform: uppercase;
    background: transparent;
    text-decoration: none;
    }
    
    a:hover {
    background: #800000;
    }
    
    img{
        margin-top: -25px;
        float: left;
        width:10%;
    }

    /* Dropdown Button */
  .dropbtn {
    background: transparent;
    color: white;    
    font-size: 16px;
    border: none;
    margin: 0 30px;
  }
  
  
  .dropdown {
    /* position: relative; */
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 200px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #800000;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #800000;}

  /* home section */
#home {
  background: url('/assets/images/gallery-img4.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
  height: 60vh;
  text-align: center;
  }
  #home h1 {
  font-size: 20px;
  letter-spacing: 8px;
  font-style: normal;
  padding-top: 10px;
  }
  #home .btn {
  background: transparent;
  border-radius: 0;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 16px 42px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
  }
  #home .btn:hover {
  background: #ffffff;
  color: #202020;
  }
  
  #search-btn{
      width: 200px;
  }
  
  #home .search input{
  border-radius: 0;  
  font-weight: bold; 
  letter-spacing: 2px;
  margin-top: 40px;
  width: 600px;
  height:63px;
  }
  

  /* cart */
    .bg {
      background-image: url('/assets/images/gallery-img5.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .empty-cart {
      font-size: 10.2em;
      display: block;
      margin: 0.2em auto 0;
      
    }
  
   
  