
<!-- navbar -->

<header>
    <img src = ""/> Property binding
    <div calss = "container">
        <nav>        
        <a  routerLink="/restuarant" class = "logo">Meal On Wheels</a>
        
            <ul>
              <!--Routing to diff compnts-->
                <li>
                  <a routerLink="/restuarant" >Home</a>
                </li>
                
                <li>
                    <div  class="dropdown">
                        <button class="dropbtn">UserName</button>
                        <div class="dropdown-content">
                          <a heref="#">View Profile</a>
                          <a href="#">Update Profile</a>
                          <a >Logout</a> <!--use [routerlink]="['../logout']" -->
                        </div>
                      </div>
                </li>                
            </ul>
        </nav>
    </div>
</header>

<!-- home -->

<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>Meal On Wheels</h1>
				<h2>Find Your Favorite Restaurant Here</h2>
				
			</div>
			<br>
			<br>	
        </div>
    </div>		
</section>

<!-- cart-->

<section id="cart" class="parallax-section">

    <div *ngIf="!isCart()">
        
        <h4>Your Cart is empty!</h4>        
        <button type="button" class="btn btn-light" (click)="gotorestaurants()">{{'Add Items' | translate}}</button>
    </div>
	<div *ngIf="isCart()">

	    <table class="table table-striped table-dark">
                
            <tbody *ngFor="let data of Cart">
              <tr>
                <td><img [src]="imagePath" alt="itemImage"></td>
                <td><p class="item-name" text-wrap>{{ItemName}}</p></td>
                <td><p class="item-detail" text-wrap>{{ItemQuantity}}</p></td>
                <td>
                    <p class="item-detail">Price:
                    <span class="item-price">
                        <strong class="cut">{{currency?.currencySymbol}}{{data.item.price.value | number:'.2-2'}}</strong>
                    </span>
                    </p>
                </td>
                <td>
                    <div class="count">
                        
                        <span class="item-count" (click)="remove(data)">
                            -
                        </span>
                       
                        <span class="item-count show-count">
                            {{data.item.itemQunatity}}
                        </span>
                        
                        <span class="item-count" (click)="add(data)">
                            +
                        </span>
                    </div>
                </td>
                <td>
                    <button  type="button" class="btn btn-light" (click)="deleteItem(data)">Delete</button>
                </td>
              </tr>
            </tbody>
            <tr></tr>
            <tr class="price-details">
                <td class="calculate" col-12>
                    <div class="cart-total">
                        <strong>{{"Order Total" | translate}}</strong>
                        <span class="price">{{currency?.currencySymbol}} {{GrandTotal | number:'.2-2'}}</span>
                    </div>
                </td>
                <td >
                    <button  type="button" class="btn btn-light" (click)="continue()"> {{"Continue"| translate}}</button>
                </td>
            </tr>
        </table>
    </div>
</section>
<app-footer></app-footer>