<app-nav></app-nav>

<!-- home -->
<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>Meal On Wheels</h1>
				<h2>Find Your Favorite Restaurant Here</h2>
				
			</div>
				<br>
				<br>
    <div class="row">    
        <div class="col-md-12">
		    <div class="input-group" >
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">All Restaurant</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#res1">res1</a></li>
                      <li><a href="#res1">res1</a></li>
                      <li><a href="#res1">res1</a></li>
                      <li><a href="#res1">res1 </a></li>
                      
                    </ul>
                </div>
                <!--<input type="hidden" name="search_param" value="all" id="search_param"> -->        
                <div class = "search" ><input type="text" class="form-control" name="search" placeholder="Search Restaurant..."/></div>
                <span class="input-group-btn">
                    <button id = "search-btn" class="btn btn-default" type="button">Search</button>
                </span>
            </div>
        </div>		
	</div>	
</div>
</div>		
</section>

<!-- Restaurant-->

<section id="restaurant" class="parallax-section">
	<div class="container">
		<div class="row">   
			<div class="col-md-offset-2 col-md-12 col-sm-12 text-center">
				<h1 class="heading">Your Favorite Restaurants Here</h1>
				<hr>
				<!--Put a loop while fetching the data -->
				<div  class="card-deck col-md-12 col-sm-12 text-center">
					<!-- <div class="col-md-4 col-sm-4 wow fadeInUp" *ngFor="lets restaurant of restueants" data-wow-delay="0.9s">
						<a href = "#">
							<div class="card">
							 <img [src] = "imagePath[0]" class = "card-img-top"/>
							 <div class="card-body">
							   <h5 class="card-title">{{restaurant.restaurantName}}</h5>
							   <p class="card-text">{{restAddress}}</p>
							   <p class="card-text"><small class="text-muted">
								     
							   </small></p>
							 </div>
						   </div>
						</a>	
						</div> -->
						<div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
						<a [routerLink]="['/menu']">
						 	<div class="card">
						  		<img [src] = "imagePath[0]" class = "card-img-top"/>
						  		<div class="card-body">
									<h5 class="card-title">Restaurant Name</h5>
									<p class="card-text">Address of Restaurant...</p>
									<p class="card-text"><small class="text-muted">About Restaurant...</small></p>
						  		</div>
							</div>
						</a>						
						</div>
						<div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
							<a [routerLink]="['/menu']">
								 <div class="card">
									  <img [src] = "imagePath[0]" class = "card-img-top"/>
									  <div class="card-body">
										<h5 class="card-title">Restaurant Name</h5>
										<p class="card-text">Address of Restaurant...</p>
										<p class="card-text"><small class="text-muted">About Restaurant...</small></p>
									  </div>
								</div>
							</a>						
							</div>
							<div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s" >
								<a [routerLink]="['/menu']">
									 <div class="card">
										  <img [src] = "imagePath[0]" class = "card-img-top"/>
										  <div class="card-body">
											<h5 class="card-title">Restaurant Name</h5>
											<p class="card-text">Address of Restaurant...</p>
											<p class="card-text"><small class="text-muted">About Restaurant...</small></p>
										  </div>
									</div>
								</a>						
								</div>
								<div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
									<a [routerLink]="['/menu']">
										 <div class="card">
											  <img [src] = "imagePath[0]" class = "card-img-top"/>
											  <div class="card-body">
												<h5 class="card-title">Restaurant Name</h5>
												<p class="card-text">Address of Restaurant...</p>
												<p class="card-text"><small class="text-muted">About Restaurant...</small></p>
											  </div>
										</div>
									</a>						
									</div>
									<div class="col-md-4 col-sm-3 wow fadeInUp" data-wow-delay="0.9s">
										<a [routerLink]="['/menu']">
											 <div class="card">
												  <img [src] = "imagePath[0]" class = "card-img-top"/>
												  <div class="card-body">
													<h5 class="card-title">Restaurant Name</h5>
													<p class="card-text">Address of Restaurant...</p>
													<p class="card-text"><small class="text-muted">About Restaurant...</small></p>
												  </div>
											</div>
										</a>						
										</div>
					</div>
				</div>
		</div>
	</div>
</section>

<app-footer></app-footer>