
body
{
    background: #f0f0f0;
font-family: 'Roboto', sans-serif;
font-weight: 400;
position: relative;
}

.heading {
font-size: 22px;
font-weight: 500;
}

.subheading {
font-size: 16px;
padding-bottom: 60px;
}

p {
color: #848484;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.4px;
line-height: 28px;
}

hr {
border-top: 2px solid #828282;
width: 120px;
}

#menu, #cuisine {
padding-top: 100px;
padding-bottom: 100px;
}
#menu, #contact {
background: #f0f0f0;
}

.parallax-section {
background-attachment: fixed !important;
background-size: cover !important;
}

/* preloader section */
.preloader  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: none repeat scroll 0 0 #fff;
}
.sk-spinner-pulse {
width: 40px;
height: 40px;
background-color: #F6D76B;
border-radius: 100%;
-webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
      animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
0% {
-webkit-transform: scale(0);
        transform: scale(0); }
100% {
-webkit-transform: scale(1);
        transform: scale(1);
opacity: 0; } }

@keyframes sk-pulseScaleOut {
0% {
-webkit-transform: scale(0);
        transform: scale(0); }
100% {
-webkit-transform: scale(1);
        transform: scale(1);
opacity: 0; } }


/* start navigation */
.navbar-default {
background: #ffffff;
box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
border: none;
margin-bottom: 0;

}
.navbar-brand, .navbar-nav li a {
line-height: 28px;
color: #FFFFFF;
}
.navbar-default .navbar-brand  {
color: #FFFFFF;
font-size: 22px;
font-weight: bold;
letter-spacing: 2px;
}
.navbar-default .navbar-nav li a {
font-size: 12px;
letter-spacing: 1px;
color: white;
}

/* home section */
#home {
background: url('/assets/images/gallery-img4.jpg') 50% 0 repeat-y fixed;
-webkit-background-size: cover;
background-size: cover;
background-position: center;
color: #ffffff;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
height: 60vh;
text-align: center;
}
#home h1 {
font-size: 20px;
letter-spacing: 8px;
font-style: normal;
padding-top: 10px;
}
#home .btn {
background: transparent;
border-radius: 0;
border: 3px solid #ffffff;
color: #ffffff;
font-weight: bold;
letter-spacing: 2px;
padding: 16px 42px;
margin-top: 40px;
transition: all 0.4s ease-in-out;
}
#home .btn:hover {
background: #ffffff;
color: #202020;
}

#search-btn{
    width: 200px;
}

#home .search input{
border-radius: 0;  
font-weight: bold; 
letter-spacing: 2px;
margin-top: 40px;
width: 600px;
height:63px;
}

/* menulist */

#menu{
    padding-top: 80px;
    padding-bottom: 80px;

}
#menu .card{
    height: 400px;
    width: 250px;
    padding-bottom: 10px;
    margin: 30px 30px;
}

#menu .card img{
    height: 250px;
    width :230px;
    border:1px solid red;
    /* padding : 10px; */
    margin: 10px 25px;
}

#menu .addremove{
    border: 1px solid black;
}



.footer {
    height: 10vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.footer a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style:solid;
}